# Dependencies
node_modules/

# Build output
dist/

# Environment variables (NE JAMAIS COMMITER !)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.ts.timestamp-*
